<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>News Project</title>
    <!-- Link to Bootstrap stylesheet -->
    <link href="https://bootswatch.com/5/journal/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: rgb(240, 240, 240);">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{% static 'image/newsLogo.jpg' %}"  style="width: 50px; border-radius: 50px;" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">News
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'image/markus.jpg' %}" style="height: 690px;"  class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>The latest news based on</h1>
                    <br>
                    <a href="https://newsapi.org" class="btn btn-outline-light" style="text-decoration: none;">News API</a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="row">
            {% for title, description, img, author, url, published_at in news_data %}
                <div class="col-md-4 mb-4">
                    <div class="card border-light">
                        <h3 class="card-header bg-dark text-white">Headline:</h3>
                        <div class="card-body">
                            <h5 class="card-title">{{ title }}</h5>
                            <br>
                            <img src="{{ img }}" alt="image" class="card-img-top" style="height: 200px;">
                            <hr>
                            <p class="card-text">{{ description }}</p>
                            
                            <p class="card-text text-secondary"> <small>Author &nbsp;{{ author }}</small> </p>
                            <hr>
                            <a href="{{ url }}" class="btn btn-outline-primary">Read More</a>
                            
                        </div>
                        <div class="card-footer text-secondary"><small>Published at: {{ published_at }}</small></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
